@model IEnumerable<EntityDataBases.Storage.Entity.Manufacturer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowManufacturers</title>
    <style type="text/css" id="main">
    </style>
</head>
<body>
    <div>
        <table border="1">
            <caption><h1><strong>Производители запчастей</strong></h1></caption>
            <tr>
                <th>Производитель:</th>
                <th>Страна производителя:</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center"><strong>@item.Name</strong></td>
                    <td>@item.Country</td>
                    <td width="155px"><a href="/Manufacturer/UpdateManufacturer/@item.Id">Редактировать</a></td>
                    <td width="95px"><a href="/Manufacturer/Delete/@item.Id">Удалить</a></td>
                </tr>
            }
        </table>
        <br /><br />
        @using (Html.BeginForm("AddManufacturer", "Manufacturer"))
        {
            <div>
                <input type="submit" value="Добавить нового производителя" />
            </div>
        }
    </div>
</body>
</html>
